*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

.btn1{
    display: inline-block;
    text-align: center;
    width: max-content;
    padding:10px 80px;
    background-color: rgb(19, 17, 17);
    text-decoration:none ;
    margin-top: 80px;
    margin-left:300px;
    color: white;

}

section{
    display:flex;

}
.div1{
    background-color: rgb(245, 245, 178);
    width:50%;
    height: 100vh;
}
.div2{
    width:50%;
}
.leon{
    text-align: center;
    font-size: 50px;
}
.game{
    text-align: center;
    font-size:25px;
}
img{
    display: block;
    margin:70px auto;
    height: 300px;
    width:300px;
}
ul li{
    display:inline-block;
    margin-right:15px;
    text-align: center;  
    margin-top: 30px;
    letter-spacing: 10px;

}
.ul-li{
    text-align: center;

}
i{
    height: 1.5rem;
    font-size: 1.5em;
}

h3{
    font-size: 70px;
    margin:100px 70px;
}
.developer{
    text-align: center;
}

.btn2{
    display: inline-block;
    text-align: center;
    width: max-content;
    padding:10px 80px;
    background-color: rgb(19, 17, 17);
    text-decoration:none ;
    margin-top: 200px;
    margin-left:600px;
    color: white;
}

.btn3{
    display: inline-block;
    text-align: center;
    width: max-content;
    padding:10px 80px;
    background-color: rgb(19, 17, 17);
    text-decoration:none ;
    margin-top: 80px;
    margin-left:170px;
    color: white;
}